html, body {
    display: flex;
    min-height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.primerDia {
    grid-column-start: var(--primerDia);
}

#hoy {
    background-color: #1f547e;
    color: aliceblue;
}

.dias:hover, #hoy:hover {
    color: aliceblue;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.432);
}

#cambiaCalendario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 3em;
    margin-bottom: 5px;
}

#cambiaCalendario ol {
    width: 90%;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
    margin: 5px;
}

#cambiaCalendario li {
    width: 100%;
    height: 100%;
    text-align: center;
    border: #1f547e 1px solid;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #2898eeb2;
    border: 2px solid #1f547e;
    border-radius: 1em;
}

article h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
}

h1 button {
    width: 5%;
    height: 100%;
    min-width: 30px;
    font-size: 0.75em;
    border: none;
    background: inherit;
}

h1 button:hover {
    color: aliceblue;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.432);
    border-radius: 25px;
}

#containerEventos {
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.455);
    backdrop-filter: blur(10px);
    z-index: 101;
    justify-content: center;
    align-items: center;
}

#containerEventos article{
    width: 50%;
    height: 80%;
    align-items: center;
}

#containerEventos form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: aliceblue;
}

.titulos {
    font-size: 5em;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    color: aliceblue;
    -webkit-text-stroke: 1px #1f547e;
    text-shadow: -3px 3px 5px rgba(0, 4, 255, 0.788);
    letter-spacing: -2.2px;
    word-spacing: 6px;
    margin: 0px;
    width: 100%;
}

.subtitulos {
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
    margin: 0px;
    width: 100%;
}

#containerEventos section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#descripcionEvento {
    width: 90%;
    height: 100px;
    border-radius: 0px;
    text-align: justify;
    margin: 5px;
    background-color: #1f537e25;
    border: #1f547e 1px solid;
    color: aliceblue;
    padding: 5px;
}


input {
    margin: 5px;
    background-color: #1f537e25;
    border: #1f547e 1px solid;
    border-radius: 25px;
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

#contenedorFecha {
    color: aliceblue;
    font-weight: bolder;
    font-size: 1.7em;
}

button {
    background-color: #1f537e;
    border: aliceblue 2px solid;
    border-radius: 25px;
    color: aliceblue;
    padding: 10px;
    font-size: 1.5em;
}

.evento {
    font-size: large;
}

#containerEventos .x {
    font-size: 3em;
    font-family: fantasy;
    font-weight: bolder;
    color: aliceblue;
    -webkit-text-stroke: 1px #1f547e;
    text-shadow: 0px 0px 5px black;
    margin: 0px;
    justify-content: right;
    width: 98%;
    padding: 5px;
}

#containerEventos .x img {
    width: 20px;
    height: 20px;
}

.events p{
    font-size: medium;
    color: green;
    font-weight: bolder;
}

label {
    font-size: medium;
    font-weight: normal;
}

.lessThanOneWeek p{
    color: red;
}

#containerCreateEvent{
    visibility: hidden;
    position: absolute;
}

#containerShowEvent{
    visibility: hidden;
    position: absolute;
}